.leaflet-container {
    width:100vw;
    height: 90vw;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding: 0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


  